body {
  background-color: black;
  margin: 20px;
}
li {
  margin-bottom: 10px;
}
a {
  color: yellowgreen;
  text-decoration: none;
}
a:hover {
  color: darkblue;
}
.marquee {
  height: 35px;
  width: 100%;

  overflow: hidden;
  position: relative;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 0 4px 0;
}
.marquee div {
  display: inline-block;
  width: 300%;
  height: 40px;

  position: absolute;
  overflow: hidden;

  animation: marquee 30s linear infinite;
}
.marquee span {
  float: left;
  width: 1100px;
}

.marquee:hover div {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    left: 0%;
  }
  100% {
    left: -1100px;
  }
}

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3909a7");
