.left-2 {
  grid-area: left-2;
  display: flex;
  flex-direction: column;
  grid-row: 0.5 / span 2;
  padding: 15px;
  background: #ffffff;
  margin-top: 20px;
  box-shadow: 3px 1px 10px 0px #999;
}
.left2-lists {
  display: flex;
  box-shadow: 3px 1px 10px 0px #999;

  margin-top: 30px;
}
.left2-content-divider {
  padding: 15px;
}
.left2-top-corner,
.left2-bottom-corner {
  display: flex;
  justify-content: space-between;
}
.left2-continue-read {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 1px solid #a7a7a7;
  text-align: center;
  margin: 30px 0;
  padding: 15px;
}
body {
  background: white;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-template-areas:
    "navBar navBar navBar"
    "side1 cat1 desc"
    "footer footer footer";
}

.navBar {
  grid-area: navBar;
  background-color: aqua;
  margin-bottom: 20px;
}
.footer {
  grid-area: footer;
  background-color: black;
  color: white;
  margin-top: 20px;
}
.side1 {
  grid-area: side1;
  border-right: 5px solid lightgray;
  margin-right: 10px;
}
.cat1 {
  grid-area: cat1;
  background-color: white;
  text-align: center;
}

.desc {
  grid-area: desc;
}
.card-img-top {
  width: 100%;
}
a {
  text-decoration: none;
  margin: 5px;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "navBar"
      "side1"
      "cat1"
      "desc"
      "footer";
  }
}
/* *********** NAVBAR CSS ************** */
.navBar {
  display: grid;
  grid-template-columns: 1fr 2fr 6.5fr 1fr 2fr 1fr;
  gap: 5px;
  background: black;
  margin: 0px;
  padding: 0px;
}
.logo {
  grid-column: 1;
  grid-row: 1;
}
.item {
  grid-column: 2;
  grid-row: 1;
}
.input-group {
  grid-column: 3;
  grid-row: 1;
}
.flag {
  grid-column: 4;
  grid-row: 1;
}
.cart {
  grid-column: 6;
  grid-row: 1;
}

/* **************  ****** FOOTER CSS ******* */
/* **************  ****** FOOTER CSS ******* */
/* **************  ****** FOOTER CSS ******* */
/* **************  ****** FOOTER CSS ******* */
:root {
  --black: #000;
  --white: #fff;
  --link-color: #fff;
  --seprator-color: #eceef5;
  --link-hover-color: #688dff;
  --input-border-color: #e9ebf3;
}

.content {
  box-shadow: 0 100px 107px #05134125;
  padding: 50px;
  border-radius: 4px;
  background-color: rgb(46, 44, 44);
  /* background-color: #fa8bff; */
  /* background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  ); */
}

.link-box {
  text-transform: capitalize;
}
.link-box__title {
  font-weight: 700;
  font-size: 20px;
  color: var(--link-color);
  margin-bottom: 10px;
}
.link-box__link {
  font-size: 16px;
  color: var(--link-color);
  margin-bottom: 10px;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}
.link-box__link:hover {
  color: var(--link-hover-color);
}
.link-box__subscribe-description {
  font-size: 16px;
  line-height: 31px;
}

.privacy-box,
.social-media-box {
  color: #84849d;
  font-size: 14px;
}

.seprator {
  background: var(--seprator-color);
  height: 1px;
  margin: 50px 0 30px 0;
}

.input-box {
  border: 1px solid var(--input-border-color);
  padding: 4px 10px;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.input-box svg {
  margin-top: 3px;
}
.input-box input {
  all: unset;
  width: 100%;
  font-size: 16px;
  margin-left: 5px;
}
.input-box input::placeholder {
  font-size: 16px;
}

.subscribe-button {
  margin-top: 20px;
  color: white;
  width: 100%;
  text-align: center;
  background: blue;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: inherit;
}
